@media screen and (max-width: 428px) {
  .header {
    height: 70px;
  }

  .header_container {
    width: 100%;
    max-width: 400px;
    justify-content: space-between;
    height: 100%;
    padding: 0;
  }

  .btn_menu {
    display: block;
  }
  .header_nav_list {
    display: none;
  }
  .header_address {
    display: none;
  }

  .hero {
    max-width: 100%;
    padding: 112px 0;
  }

  .hero_container {
    width: 100%;
  }

  .hero-item {
    width: 330px;
    font-size: 36px;
  }

  .advantage {
    padding: 0;
  }
  .advantage_list_item-icon {
    display: none;
  }
  .advantage_list {
    margin-top: 96px;
    row-gap: 72px;
    flex-direction: column;
  }

  .advantage_list_item {
    width: 396px;
  }
  .advantage_list_item-title {
    text-align: center;
  }

  .advantage_list_item-title {
    font-size: 36px;
    font-weight: 700;
  }

  .advantage_list_item-text {
    font-weight: 500;
  }

  .about {
    display: none;
  }

  .team {
    margin-top: 96px;
    padding-top: 96px;
  }

  .team_container {
    width: auto;
  }

  .team_list {
    flex-direction: column;
    align-items: center;
    row-gap: 72px;
  }

  .team_list_item {
    width: 264px;
  }

  .customers_wrapper {
    width: 100%;
  }

  .customers_wrapper_list {
    flex-wrap: wrap;
    gap: 72px 16px;
  }

  .customers_wrapper_list_item {
    width: calc((100% - 16px) / 2);
  }

  .footer_container {
    flex-direction: column;
    width: auto;
    align-items: center;
    row-gap: 72px;
  }
  .footer_wrapper {
    margin: 0;
  }
  .footer_wrapper-logo {
    width: 100%;
    text-align: center;
  }

  .footer_wrapper_social {
    margin: 0;
  }

  .footer_wrapper_social-text {
    text-align: center;
  }

  .footer_form_wrapper {
    flex-direction: column;
  }

  .footer_form_text {
    text-align: center;
  }

  .footer_form_wrapper_btn {
    margin: 0 auto;
    padding: 8px 24px;
    max-width: 165px;
  }

  .footer_form_wrapper_label-input {
    width: 396px;
  }

  .modal {
    width: 100vw;
  }
  .modal_wrapper {
    top: 35%;
  }
}
