:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --white: #FFFFFF;
  --navyblue: #2e2f42;
  --slate: #434455;
  --gray: #8e8f99;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

p {
  margin: 0;
}

a{
  list-style: none;
}

ul {
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
/*header*/
.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
}

.header_container{
  display: flex;
  padding: 0 15px;
  margin: 0 auto;
}

.header_nav {
  margin-right: 76px;
}
.header_nav-logo {
  margin-right: 76px;
  text-decoration: none;
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.link {
  text-decoration: none;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.text-blue {
  color: var(--navyblue);
}



.header_nav {
  display: flex;
 
  align-items: center;
}

.header_nav_list {
  display: flex;
  
  gap: 40px;
}

.header_nav_list_item {
  gap: 40px;

}
.header_nav_list_item-link {
  position: relative; 
  padding: 24px 0;
  text-decoration: none;
  color: var(--navyblue);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header_nav_list_item-link::after{
  content:'';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: var(--ocean);
  border-radius: 2px;

}


.header_nav_list_item-link:hover {
  color: var(--ocean);
}

.header_nav_list_item-link:focus {
  color: var(--ocean);
  
}
.header_nav_list_item-link.current::after{
  position: absolute;
  content: '';
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 2px;
  color: var(--ocean);
  background-color: var(--ocean);
}
.current{
  color: var(--ocean);
 }
 
.header_address {
  margin-left: auto;
  font-style: normal;
}

.header_adress_list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}


.header_adress_list_item-link {
  padding: 24px 0;
  text-decoration: none;
  color: var(--slate);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header_adress_list_item-link:focus {
  color: var(--ocean);
}

.header_adress_list_item-link:hover {
  color: var(--ocean);
}

.btn_menu{
  display: none;
  cursor: pointer;
  background: none;
  border: none ;

}

.btn_menu_icon{
  stroke: #2e2f42;
}
/*web-studio*/
.hero {
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
  background: var(--navyblue);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-name.jpg);
  background-repeat: no-repeat; 
  background-position: center;
  background-size: cover; 
}

.hero-item {
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  color: var(--white);
  text-align: center;
  /* Header 1 */
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.12px;
  line-height: 1.07;
}

.hero-btn {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 169px;
  height: 56px;
  border: none;
  cursor: pointer;
  display: block;
  margin: 48px auto 0 auto;
  padding: 16px 32px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  border-radius: 4px;
  background: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero-btn:hover {
  color: var(--cloud);
  border-radius: 4px;
  background: var(--ocean);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.hero-btn:focus {
  border-radius: 4px;
  background-color: var(--ocean);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.advantage {
  padding: 120px 0;
}

.advantage_list {
  display: flex;
  gap: 24px;
  width: 100%;
}

.advantage_list_item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.advantage_list_item-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;

}
.advantage_list_item-title {
  margin-bottom: 8px;
  color: var(--navyblue);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.advantage_list_item-text {
  margin-bottom: 8px;
  color: var(--slate);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.about {
  padding-bottom: 120px;
}

.about-title {
  margin-bottom: 72px;
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.about_list {
  width: 100%;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.about_list_item {
  width: calc((100% - 48px) / 3);
  outline: 1px solid var(--cornflower);
  background: lightgray 50%;
}

.team {
  padding: 120px 0;
  background-color: var(--cloud);
}

.team-title {
  margin-bottom: 72px;
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.team_list {
  display: flex;
  gap: 24px;
}

.team_list_item-name {
  padding-top: 32px;
  text-align: center;
  color: var(--navyblue);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}

.team_list_item {
  flex-basis: calc(100% - 3 * 24px)/4;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.team_list_item_card {
  padding: 32px 0;
}

.team_list_item_card-name{
text-align: center;
margin-bottom: 8px;
}

.team_list_item_card_social {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-left: 0;
}

.team_list_item_card_social_item{
  width: 40px;
  height: 40px;
 
}

.team_list_item_card_social_item_link {
 width: 100%;
 height: 100%;
 background-color: #4d5ae5;
 border-radius: 50%;
 display: flex;
 align-items: center;
 justify-content: center;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team_list_item_card_social_item_link:hover {
  background-color: #404bbf;
}

.team_list_item_card_social_item_link:focus {
  background-color: #404bbf;
}

.team_list_item_card_social_item_link-icon{
  fill: #f4f4fd;
}

.team_list_item_card-text {
  margin-bottom: 8px;
  text-align: center;
  color: var(--slate, #434455);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.customers{
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers_wrapper_title{
  font-size: 36px;
  line-height: 1.11;
  color:var(--navyblue);
  margin-bottom: 72px;
  text-align: center;
}
.customers_wrapper_list{
  display: flex;
  gap:24px;

}

.customers_wrapper_list_item {
  width: calc((100% - 120px) / 6);
  height: 88px;

}

.customers_wrapper_list_item_link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--gray);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray);
  transition:  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers_wrapper_list_item_link:hover{
  border-color: var(--ocean);
  color: var(--ocean);
}

.customers_wrapper_list_item_link:focus{
  border-color: var(--ocean);
  color: var(--ocean);
}

.customers_wrapper_list_item_link-icon{
  fill: currentColor;
}
/*Portfolio*filter*/
.nav {
  display: inline-block;
  align-items: flex-start;
  gap: 24px;
}

.nav_filter {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.nav_filter-btn {
  cursor: pointer;
  padding: 12px 24px;
  height: auto;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  background-color: var(--cloud);
  color: var(--iris);
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.nav_filter-btn:hover {
  color: #ffffff;
  border-radius: 4px;
  border-color: transparent;
  background: var(--ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); 
}
.nav_filter-btn:focus {
  color: #ffffff;
  border-radius: 4px;
  border-color: transparent;
  background: var(--ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); 
  border: 1px solid transparent;
}

/*portfolio*/
.section_portfolio {
  padding: 96px 0 120px 0;
}

.portfolio {
  width: 1128px;
  margin: 72px auto 0 auto;
}

.portfolio_list {
  width: 100%;
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}

.portfolio_list_item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: calc((100% - 48px) / 3);
  
}




.portfolio_list_item_link{
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.portfolio_list_item_link:hover .portfolio_list_item_link_card-text{
  box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.portfolio_list_item_link:focus .portfolio_list_item_link_card-text{
  box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}
.portfolio_list_item_link:hover{
  box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio_list_item_link:focus{
  box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio_list_item_link_card {
  position: relative;
  overflow: hidden;
}

.container_portfolio{
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio_list_item-title {
  margin-bottom: 8px ;
  color: var(--navyblue);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.portfolio_list_item-subtitle {
  color: var(--slate);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.portfolio_list_item_link_card-text{
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  padding: 40px 32px;
  background-color: var(--iris);
  height: 100%;
  width: 100%;
 transform: translateY(100%);
 transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
footer{
  background-color: var(--navyblue);
  padding: 100px 0;
  
}

.footer_container{
  display: flex;
  align-items: baseline;
}
.footer_wrapper {
  margin-right: 120px;
  width: 264px;
}
.footer_wrapper_social{
  margin-right: 80px;
}

.footer_wrapper_social-text{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px; 

}
.footer_wrapper-logo {
  display: inline-block;
  margin-bottom: 16px;
  text-decoration: none;
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footer-span {
  color: var(--cloud);
}

.footer_wrapper-text {
  max-width: 264px;
  color: var(--cloud);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.footer_wrapper_social_list{
  display: flex;
  gap: 16px;
  margin: 0;
  padding-left: 0;
}

.footer_wrapper_social_list_item{
  width: 40px;
  height: 40px;
  
}

.footer_wrapper_social_list_item_link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer_wrapper_social_list_item_link:hover {
  background-color: #31d0aa;
}
.footer_wrapper_social_list_item_link:focus{
  background-color: #31d0aa;
}
.footer_wrapper_social_list_item_link-icon{
  fill: var(--cloud);
}

.footer_form_text{
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);

}

.footer_form_wrapper{
  display: flex;
  gap: 24px;
}

.footer_form_wrapper_label-input{
  width: 264px;
  height: 40px;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em; 
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white);

}

.footer_form_wrapper_label-input::placeholder{
color: var(--white);

}

.footer_form_wrapper_btn{
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:  "Roboto", sans-serif ;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--white);
  cursor: pointer;
  background-color: var(--iris);
  border: none;
  border-radius: 4px;
  letter-spacing: 0.04em;
}

.footer_form_wrapper_btn-icon{
  margin-left: 16px;
  fill: #FFFFFF;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4); 
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}

.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal_wrapper{
  position: absolute;
  padding: 72px 24px 24px 24px; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2); 
  border-radius: 4px; 
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal_wrapper_btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal_wrapper_btn:hover{
  background-color: #404bbf;
  border: none; 
  fill: #ffffff
}

.modal_wrapper_btn:focus{
  background-color: #404bbf;
  border: none; 
  fill: #ffffff
}

.modal_wrapper_btn-icon{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_wrapper_btn-icon:hover{
  fill: #ffffff
}

.modal_wrapper_btn-icon:focus{
  fill: #ffffff
}

.modal_wrapper_text{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  margin-bottom: 16px;

}

.modal_form_wrapper{
  margin-bottom: 8px;
}

.modal_form_wrapper_label{
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--gray);
  display: block;
  margin-bottom: 4px;
}

.modal_form_wrapper_checkbox{
  position: relative;
}

.modal_form_wrapper_checkbox_input{
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4); 
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_form_wrapper_checkbox_input:focus{
  border-color: #4D5AE5;
}

.modal_form_wrapper_checkbox_icon{
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal_form_wrapper_checkbox_input:focus + .modal_form_wrapper_checkbox_icon{
  fill: #4D5AE5;
}

.modal_form_wrapper_comment{
  margin-bottom: 16px;

}
.modal_form_wrapper_comment_textarea{
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color:rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent; 
  padding: 8px 16px; 
  outline: transparent; 
  resize: none; 
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal_form_wrapper_comment_textarea:focus{
  border-color: var(--iris);
}

.modal_form_wrapper_check{
  margin-bottom: 24px;
}

.modal_form_wrapper_check_label{
  display: block;
  font-size: 12px;
  line-height: 1.17; 
  letter-spacing: 0.04em;
  color:#8e8f99;
}

.modal_form_wrapper_check_label_span{
  width: 16px;
  height: 16px;
  border: 1px solid  rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center; 
  justify-content: center;
  fill: transparent;
}



.modal_form_wrapper_check_input:checked + label > svg {
  fill: var(--cloud);
}

.modal_form_wrapper_check_input:checked + label > span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal_form_wrapper_check_label-link{
  color: var(--iris);
}

.btn_check{
 
  display: block;
  position: relative;
  margin: 0 auto;
  border-radius: 4px;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif ;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background-color: #4D5AE5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  border: none;
  
}